<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Batos Jugando</h3>
        <nav class="nav nav-masthead justify-content-center">
            {% for item in site.menu %}
                <a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}" {% if item.external %} target="_blank" rel="noopener noreferrer" {% endif %}>
                    {{ item.title }}
                </a>
            {% endfor %}
        </nav>
    </div>
</header>