<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Batos Jugando</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
            {% include header.html %}

            {{content}}

            {% include footer.html %}
        </div>

        <script>
            const style = 'color: red; font-size: large; background: #222;';
            const print = message => console.log(`%c ${message} `, style);
            ['No seas cochino', 'cierrale ahi', 'la consola de JS!'].map(print);
        </script>
    </body>
</html>